*{
    /* border: 1px solid red; */
}

:root{
    --primaryColor: #BE9C79;
    --secondaryColor: #ffffff;
    --tertiararyColor: #212529;
    --ffprimary: "Merienda";
    --ffsecondary: "Nunito";
}

body{
    background-color: var(--secondaryColor);
    color: var(--tertiararyColor);
}

.hero{
    background: linear-gradient(90deg, rgb(255, 255, 255), transparent 70%), url(./assets/images/hero_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 16rem 0rem;
}

h1,
h2{
    font-family: var(--ffprimary);
}

h3,
p{
    font-family: var(--ffsecondary);
}

button,
i{
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
}

button:hover{
    background-color: var(--tertiararyColor);
}

input{
    border: 1px solid var(--tertiararyColor);
}

span{
    color: var(--primaryColor);
}
